---
layout: default
title: Blog Darma Byu
permalink: /blog/
---

<div id="fh5co-about" class="animate-box">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Blog Post</h2>
      </div>
    </div>
    <div class="col-md-8">
      <h2>List Postingan</h2>
      <div class="posts-grid">
        {% for post in site.blog %}
          <article class="post-card">
            <a href="{{ post.url }}">
              <div class="post-thumb">
                <img src="{{ post.header_image | default: '/images/default-thumbnail.png' }}" alt="{{ post.title }}">
              </div>
              <div class="post-info">
                <h3>{{ post.title }}</h3>
                <p class="post-date">{{ post.date | date: "%d %B %Y" }}</p>
                <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 140 }}</p>
              </div>
            </a>
          </article>
        {% endfor %}

        {% if site.blog == empty %}
          <p>Belum ada postingan.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
